.breadcrumb {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
    .item {
        color: var(--primary-bright-red, #ed1b26);
        font-family: var(--font-jost);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 160% */
        display: flex;
        padding: var(--spacing-lg, 12px) var(--spacing-xl, 16px);
        align-items: center;
        gap: var(--spacing-md, 8px);
        align-self: stretch;

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
        }

        &.home {
            &::before {
                background-image: url('/images/home.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        &.network {
            &::before {
                background-image: url('/images/network.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .item-list {
        border-left: 1px solid #b4b4b4;
        margin-left: 26px;

        .item {
            display: flex;
            padding: var(--spacing-xs, 4px) var(--spacing-md, 8px);
            align-items: center;
            gap: var(--spacing-md, 8px);
            padding-left: 16px;

            &::before {
                background-color: var(--primary-bright-red, #ed1b26);
                content: '';
                border-radius: 100%;
                width: 8px;
                height: 8px;
            }
        }
    }
}
