.navbar {
    display: flex;
    align-items: center;
    gap: var(--spacing-md, 8px);
    .logo {
        position: relative;
        aspect-ratio: auto 106.667 / 32;
        height: 32px;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        .logo {
            height: 25px;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        .logo {
            height: 20px;
        }
    }
}
