.knowledge-test {
    gap: var(--spacing-xl, 16px);
    display: flex;
    flex-direction: column;
    .title {
        display: flex;
        gap: 8px;
        align-items: center;
        h4 {
            color: var(--neutral-dark-grey, #42464a);
            font-family: var(--font-jost);
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; /* 125% */
        }

        .knowledge-logo {
            width: 88px;
            height: 88px;
            min-width: 88px;
            min-height: 88px;
            background-image: url(/images/knowlodge-test.svg);
            display: block;
            background-repeat: no-repeat;
        }
    }

    .description {
        color: var(--primary-royal-blue, #3f47cc);
        text-align: center;
        font-family: var(--font-jost);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        text-transform: uppercase;
    }

    button {
        border-radius: var(--radius-md, 8px);
        background: var(--primary-bright-red, #ed1b26);
        display: flex;
        padding: var(--spacing-lg, 12px) var(--spacing-3xl, 24px);
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md, 8px);
        align-self: stretch;
        border: unset;
        color: var(--neutral-white, #fff);
        text-align: right;
        font-family: var(--font-jost);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.8px;
    }
}
