@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --neutral-grey-blue: #696da21a;
    --neutral-light-grey: #ededed;
    --spacing-md: 8px;
    --spacing-xl: 16px;
    --space-lg: 12px 32px;
    --space-md: 20px;
    --space-sm: 12px;
    --spacing-07: 32px;
    --spacing-05: 22px;
    --spacing-04: 18px;
    --neutral-black: #161616;
    --font-jost: 'Jost', sans-serif;
    --neutral-dark-grey: #42464a;
    --neutral-grey: #b4b4b4;
    --primary-bright-red: #ed1b26;
    --primary-royal-blue: #3f47cc;
}

body {
    margin: 0;
    padding: 32px 64px;
    background-image: url(/images/background-template.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: var(--spacing-07, 32px);
}

html {
    box-sizing: border-box;
    background-color: blue;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 27.35%,
            #fff 83.12%
        ),
        var(--neutral-grey-blue, rgba(105, 109, 162, 0.1));
}

.only-sm {
    display: none !important;
}

.divisor {
    height: 1px;
    width: 100%;
    background-color: var(--neutral-light-grey, #ededed);
    margin: var(--spacing-3xl, 24px) 0;
}

button,
a {
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        filter: brightness(0.9);
    }
}

.text-center {
    text-align: center;
    display: flex;
    justify-content: center;
}

.mb-4 {
    margin-bottom: 20px;
}

main.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--spacing-07, 32px);
}

input {
    border-radius: 8px;
    border: 1px solid var(--neutral-grey, #b4b4b4);
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    color: var(--neutral-grey, #b4b4b4);
    font-family: var(--font-jost);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */

    &::placeholder {
        color: var(--neutral-grey, #b4b4b4);
        font-family: var(--font-jost);
    }
}

.icon-input {
    display: flex;
    position: relative;
    flex: auto;
    input {
        padding-left: 50px;
        width: 100%;
    }

    &:before {
        content: '';
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &.filter {
        &:before {
            background-image: url(/images/filter.svg);
        }
    }
}

.content-card {
    padding: 32px var(--spacing-3xl, 24px) !important;

    h4 {
        color: var(--neutral-black, #161616);
        font-family: var(--font-jost);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    .gap {
        gap: var(--spacing-05, 32px);
    }

    .only-lg {
        display: none !important;
    }

    .only-sm {
        display: none !important;
    }

    body {
        padding: var(--space-md, 20px);
    }

    main.main-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--spacing-05, 22px);
    }
}

@media screen and (max-width: 768px) {
    .gap {
        gap: var(--spacing-04, 32px);
    }

    .only-lg {
        display: none !important;
    }

    .only-sm {
        display: block !important;
    }

    body {
        padding: var(--space-sm, 12px);
    }

    main.main-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .hide-sm {
        display: none !important;
    }

    body {
        background-image: unset !important;
    }
}
